<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Discuss · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <script>
      <%= if @conn.assigns.user do %>
        window.userToken = '<%= Phoenix.Token.sign(DiscussWeb.Endpoint, "key", @conn.assigns.user.id) %>'
      <% end %>
    </script>

  </head>
  <body>
    <nav class="header">
      <div class="">
        <a href="" class="brand-logo">
          Discussions
        </a>

        <div class="right">
          <%= if @conn.assigns[:user] do %>
            <div>
              <%= link "Sign Out", to: Routes.auth_path(@conn, :signout) %>
            </div>
          <% else %>
            <div>
              <%= link "Sign in with Github", to: Routes.auth_path(@conn, :request, "github") %>
            </div>
          <% end %>
        </div>
      </div>
    </nav>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
